.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fafafa;
    overflow-x: hidden;
    padding-top: 20px;
  }

.sidenav a:hover {
    color: rgb(0, 166, 255);
  }

#markdown {
  margin-left: 210px;
}

.sidenav ul {
  list-style-type: none;margin: 0; padding-left: 20px;
}

.sidenav li a {
  color: blue;
}